<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore-tab" href="/tabs/explore-tab">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved-tab" href="/tabs/saved-tab">
      <ion-icon aria-hidden="true" name="heart-outline"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trips-tab" href="/tabs/trips-tab">
      <ion-icon aria-hidden="true" name="car-outline"></ion-icon>
      <ion-label>Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages-tab" href="/tabs/messages-tab">
      <ion-icon aria-hidden="true" name="chatbox-outline"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile-tab" href="/tabs/profile-tab">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
